<!-- Footer Partial Template -->
<blockquote class="blockquote text-center">
  <footer class="app-footer blockquote-footer">
    Created By
    <cite title="Source Title"
      ><a href="https://schadokar.dev">Shubham Chadokar</a>
      <a href="https://twitter.com/schadokar1"
        ><img src="https://img.icons8.com/android/24/000000/twitter.png" /></a
    ></cite>
  </footer>
</blockquote>
