<%- include('./partials/head')-%>

<body class="container hero-image">
  <%- include('./partials/header')-%>

  <main>
    <h3>Namaste</h3>
  </main>
  <%- include('./partials/footer')-%>
</body>
